_CommonRedist
CameraPaths
GUI
mods
Movie
msx
Objects
Particles
Resource
savegames
Scenes
sfx
Shader
Textures
Worlds

39*
Async*
CoastMask*
Collection*
Gilde2*
Guild*
MFC*
Mod*
Network*
New*
Nordic*
Performance*
ReadMe*
The*
Versen*
WMEncoder*
config*
dbg*
fmod*
input.ini
install*
logfile.log
runeforge*
stl*
userconfig*

msv*